{% trans_default_domain 'FOSUserBundle' %}


<div class="panel panel-default">
    <div class="panel-heading">
        Profil bearbeiten
    </div>
    {{ form_start(form, {
                        'action': path('fos_user_profile_edit'),
                        'attr': { 'class': 'fos_user_profile_edit' }
                        }) }}
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>

    <div class="panel-footer">
        <button class="btn btn-primary"
            type="submit" >
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Speichern
        </button>

        <a class="btn btn-default"
            href="{{path('dashboard_index')}}">
            <span class="glyphicon glyphicon-remove"></span>
            Abbrechen
        </a>
        
        <a class="btn btn-default"
            href="{{path('info_privacy_policy')}}"
            target="_blank"
            >
            <span class="glyphicon glyphicon-lock"></span>
            Datenschutzerklärung
        </a>
    </div>

{{ form_end(form) }}
