{% trans_default_domain 'FOSUserBundle' %}


<div class="panel panel-default">
    <div class="panel-heading">
        Profil bearbeiten
    </div>
    <div class="panel-body">
    {{ form_start(form, {
                        'name': 'profile_edit_form',
                        'action': path('fos_user_profile_edit'),
                        'attr': { 'class': 'fos_user_profile_edit' }
                        }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
    <div class="panel-footer">
        <a data-clanx-form-name="profile_edit_form"
            class="btn btn-primary clanx-submit"
            data-toggle="tooltip"
            title="Änderungen übernehmen und in der Datenbank speichern.">
            <span class="fa fa-floppy-o"></span>
            Speichern
        </a>

        <a class="btn btn-default"
            href="{{path('fos_user_profile_show')}}"
            data-toggle="tooltip"
            title="Nicht speichern und zurück zur Profilansicht.">
            <span class="fa fa-times"></span>
            Abbrechen
        </a>

        <a class="btn btn-default"
            href="{{path('info_privacy_policy')}}"
            target="_blank"
            data-toggle="tooltip"
            title="Lies die Datenschutzerklärung. Sie wird in
            einem separaten Fenster geöffnet. Diese Seite bleibt
            im Hintergrund offen.">
            <span class="fa fa-user-secret fa-lg"></span>
            Datenschutzerklärung
        </a>
    </div>
</div>
