{# app/Resources/views/emails/commitmentConfirmation.txt.twig #}
<h3>Lieber {{ Forename }}</h3>

<p> Du hast dich beim Event
    <a href="{{ absolute_url(path('event_show', { 'id': EventID })) }}"><strong>{{ Event }}</strong></a>
    als Hölfer eingetragen.</p>

<p> Dafür schonmal </p>
<img src="{{ DankeImgLink }}" alt="DANKE!" />

<p> Der Event findet statt am <strong>{{ EventDate|date('d.M.Y') }}</strong>.</p>
<p> Du wirst zu gegebender Zeit von uns zum Hölferinformationsanlass eingeladen.</p>
<p> Du hast als gewünschtes Einsatzressort <strong>{{ Department }}</strong> angegeben.</br>
    Bitte beachte, dass wir dir keinen Einsatz in deinem gewünschten Ressort garantieren können.</p>

<p>Liebe Grüsse: </p>
<h3>das Clanx Team</h3>
