{# app/Resources/views/emails/department_changed.html.twig #}
<h3>Du wurdest in ein anderes Ressort verschoben!</h3>

<p>
    Im Event {{event}}.
</p>
<p>
    {{operator}} hat dich verschoben nach {{department}}.
</p>
<p>
    besuche {{link}} um dich über dein neues Ressort zu informieren.
</p>
<p>
    {{operator}} hat folgende Nachricht an dich gesendet:
</p>
<p>
    <blockquote>
    {{text}}    
    </blockquote>
</p>
