{# app/Resources/views/emails/department_changed.html.twig #}
<h3>Dein Einsatz am Event <strong>{{event}}</strong></h3>

<p>
    Du wurdest einem neuen Ressort zugeteilt.
</p>
<p>
    <strong>{{operator}}</strong> hat dich verschoben von <i>{{oldDepartment}}</i> nach <i>{{newDepartment}}</i>.
</p>
<p>
    Besuche die Seite
    <a href="{{ absolute_url(path('event_show', { 'id': event.id })) }}">{{ event }}</a>
    um dich über dein neues Ressort zu informieren.
</p>
<p>
    {{operator}} hat folgende Nachricht an dich gesendet:
</p>
<p>
    <blockquote>
    {{text|nl2br}}
    </blockquote>
</p>
<p>
  <i>Das ist ein automatisch generiertes Mail von der Clanx HölferDB.</i>
</p>
