{% extends 'base_nav.html.twig' %}

{% block title %} Send Mail{% if subject %}: {{ subject }}{% endif %}
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Sende ein Mail an {{toUser.forename}} {{toUser.surname}}
        </div>

        <!-- form_start -->
        {{ form_start(mail_form) }}
        <!-- form_start -->

        <div class="panel-body">

            <!-- form_widget -->
            {{form_widget(mail_form) }}
            <!-- form_widget -->

        </div> <!-- body -->
        <div class="panel-footer">
            <div class="form-group">
                <!--TODO: the identifier "mail" may change later.
                find out how we can get this identifier by code -->
                <a class="btn btn-primary" onclick="mail.submit();">
                    <span class="glyphicon glyphicon-envelope" ></span>
                    Email jetzt senden
                </a>
                <a class="btn btn-default"
                {% if redirectUrl %}
                    href="{{ redirectUrl }}"
                {% else %}
                    href="{{ path('dashboard_index') }}"
                {% endif %}
                >Abbrechen</a>
            </div>
        </div>

        <!-- form_end -->
        {{ form_end(mail_form) }}
        <!-- form_end -->

    </div> <!-- panel -->
</div><!-- col -->
</div>
{% endblock %}
