{% extends 'base_nav.html.twig' %}

{% block title %}
    Ressort bearbeiten
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-4">
<div class="panel panel-default">
    <div class="panel-heading">
        Ressort <mark>„{{ department.name }}“</mark><br />
        <small>vom Event <mark>„{{ event.name }}“</mark></small>
    </div>
    <div class="panel-body">
        {{ form_start(edit_form, {'name': 'form_department_edit'}) }}
            {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
    <div class="panel-footer">
        <a onclick="form_department_edit.submit();"
            class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Speichern
        </a>
        <a class="btn btn-default"
            href="{{ path('event_edit',{'id':event.id}) }}">
            <span class="glyphicon glyphicon-remove"></span>
            Abbrechen
        </a>
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
</div><!--panel-->
</div>
</div>
{% endblock %}
