{% extends 'base_nav.html.twig' %}

{% block title %}
    Hölfer verschieben
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-4">
<div class="panel panel-default">
    <div class="panel-heading">
    Verschiebe <mark>{{ user }}</mark>
    </div>
    <div class="panel-body">
    Verschiebe den Hölfer aus dem Ressort <mark>{{ department.name }}</mark>
    in folgendes Ressort:
        {{ form_start(move_form, {'name': 'form_volunteer_move'}) }}
        {{ form_widget(move_form) }}
        {{ form_end(move_form) }}
    </div>
    <div class="panel-footer">
        <a onclick="form_volunteer_move.submit();"
            class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Speichern
        </a>
        <a class="btn btn-default"
            href="{{ path('department_show',{'id':department.id,'event_id':department.event.id}) }}">
            <span class="glyphicon glyphicon-remove"></span>
            Abbrechen
        </a>
    </div>
</div>
</div>
</div>
{% endblock %}
