{% extends 'base_nav.html.twig' %}

{% block title %} Neues Ressort {% endblock %}

{% block workspace %}
    <h3>Ressort erstellen für <em>„{{ event.name }}“</em></h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a onclick="department.submit();"
            class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Speichern
        </a>
    {{ form_end(form) }}
    <a class="btn btn-default" href="{{ path('event_edit',{'id':event.id}) }}">Zurück zum Event</a>

{% endblock %}
