{% extends 'base_nav.html.twig' %}

{% block title %}
Ressort: {{ department.name }}
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6">
<div class="panel panel-primary">
    <div class="panel-heading">
        Ressort: {{ department.name }} ({{ event.name }})
        {% if is_granted('ROLE_SUPER_ADMIN')%}
        ID: {{ department.id }}
        {% endif %}
    </div>
    <div class="panel-body">
        {% if department.requirement %}
            <p><strong>Anforderung</strong></p>
            <p>{{department.requirement}}</p>
        {% endif %}
        <p><strong>
            Eingeschreibene Hölfer im Ressort:
        </strong></p>
        {% for vol in volunteers %}
            <p>
                {{ vol.Forename }} {{ vol.Surname}}

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-default"
                        href="{{ path('department_redirect_mail_to',{
                                'id':department.id,
                                'user_id':vol.id})}}">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Anschreiben
                    </a>
                {% endif %}

                {% if userIsChief or userIsDeputy %}
                    <a class="btn btn-default"
                        href="{{path('department_move_volunteer',{'id':department.id,'user_id':vol.id})}}"
                        data-toggle="tooltip" title="Diesen Hölfer einem anderen Ressort zuweisen.">
                        <span class="glyphicon glyphicon-new-window"></span>
                        Verschieben
                    </a>
                {% endif %}
        {% endfor %}
    </div>
    <div class="panel-footer">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" type="button"
            href="{{ path('department_edit', { 'id': department.id ,'event_id':event.id}) }}">
            <span class="glyphicon glyphicon-pencil"></span>
            Bearbeiten</a>
        {% endif %}
        {% if userIsChief %}
            <a class="btn btn-default"
                href="{{ path('department_edit_deputy',{'id':department.id}) }}">
                <span class="glyphicon glyphicon-pencil"></span>
                Stellvertreter bestimmen
            </a>
        {% endif %}
        {% if userIsChief or userIsDeputy %}
            <a class="btn btn-default"
                href="{{ path('department_mail_volunteers', {
                'id':department.id
                }) }}">
                <span class="glyphicon glyphicon-envelope"></span>
                EMail <span class="small">an Hölfer in diesem Ressort</span>
            </a>
        {% endif %}
        <a class="btn btn-default" type="button"
            href="{{ path('event_show',{'id':event.id}) }}">
            <span class="glyphicon glyphicon-remove"></span>
            Zurück zum Event</a>
        {% if mayDelete %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen"></input>
            {{ form_end(delete_form) }}
        {% endif %}
    </div><!-- footer -->
</div><!-- panel -->
</div><!-- col -->
</div><!-- row -->
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
