{% extends 'base_nav.html.twig' %}

{% block title %}
Ressort: {{ department.name }}
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6">
<div class="panel panel-primary">
    <div class="panel-heading">
        Ressort: {{ department.name }} ({{ event.name }})
    </div>
    <table class="table"><!-- table instead of body -->
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ department.name }}</td>
            </tr>
            <tr>
                <th>Requirement</th>
                <td>{{ department.requirement }}</td>
            </tr>
            {% if is_granted('ROLE_SUPER_ADMIN')%}
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table><!-- table instead of body -->
    <div class="panel-footer">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" type="button"
            href="{{ path('department_edit', { 'id': department.id ,'event_id':event.id}) }}">
            <span class="glyphicon glyphicon-pencil"></span>
            Bearbeiten</a>
        {% endif %}
        <a class="btn btn-default" type="button"
            href="{{ path('event_show',{'id':event.id}) }}">
            <span class="glyphicon glyphicon-remove"></span>
            Zurück zum Event.</a>
        {% if mayDelete %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen"></input>
            {{ form_end(delete_form) }}
        {% endif %}
    </div><!-- footer -->
</div><!-- panel -->
</div><!-- col -->
<div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading">
        Hölfer
    </div><!-- heading -->
    <table clasS="table"> <!-- table instead of body -->
    {% for vol in volunteers %}
        <tbody>
            <tr>
                <td>
                    {{ vol.username }}
                </td>
                <td>
                    <a class="btn btn-default"
                        href="{{path('department_move_volunteer',{'id':department.id,'user_id':vol.id})}}">
                        <span class="glyphicon glyphicon-new-window"></span>
                        Verschieben
                    </a>
                </td>
            </tr>
        </tbod>
    {% endfor %}
    </table> <!-- table instead of body -->
    <div class="panel-footer">
        <a class="btn btn-default"
            href="{{ path('department_mail_volunteers', {
            'id':department.id
            }) }}">
            <span class="glyphicon glyphicon-envelope"></span>
            EMail an alle
        </a>
    </div><!-- footer -->
</div><!-- panel -->
</div><!-- col -->
</div><!-- row -->
{% endblock %}
