{% extends 'base_nav.html.twig' %}

{% set chief = department.chiefUser %}
{% set deputy = department.deputyUser %}

{% block title %}
Ressort: {{ department.name }}
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6">
<div class="panel panel-primary">
    <div class="panel-heading">
        Ressort <strong>{{ department.name }}</strong> vom Event {{ event.name }}
        {% if is_granted('ROLE_SUPER_ADMIN')%}
        ID: {{ department.id }}
        {% endif %}
        {% if department.locked %}
            <br/>
            <span class="fa fa-lock"></span>
            Dieses Ressort ist gesperrt. Einschreiben nicht mehr möglich.
        {% endif %}
    </div>
    <div class="panel-body">
        {% if department.requirement %}
            <p><strong>Anforderung</strong></p>
            <p>{{department.requirement}}</p>
        {% endif %}
        {% if chief %}
            <p><strong>Ressortleiter:</strong> {{ chief}}</p>
        {% endif %}
        {% if deputy %}
            <p><strong>Stellvertreter:</strong> {{ deputy}}</p>
        {% endif %}
        <p><strong>
            {{commitments|length}}
            {% if commitments|length ==1 %}
                eingeschreibener
            {% else %}
                eingeschreibene
            {% endif %}
             Hölfer im Ressort:
        </strong></p>
        <table class="table">
        <tbody>
            {% for cmt in commitments %}
            <tr>
                {% set vol = cmt.user %}
                {% set ctVolIsChief = chief and vol.id == chief.id %}
                {% set ctVolIsDeputy = deputy and vol.id == deputy.id %}
                <td>
                    {% if ctVolIsChief or ctVolIsDeputy %}
                        <strong>{{ vol }}</strong>{# this calls User.__toString(). Pretty neat. #}
                    {% else %}
                        {{ vol }} {# this calls User.__toString(). Pretty neat. #}
                    {% endif %}
                    {% if vol.isRegular %}
                    <span class="fa fa-repeat"
                        data-toggle="tooltip"
                        title="{{vol}} ist Stammhölfer"
                        ></span>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-default"
                            href="{{ path('department_redirect_mail_to',{
                                    'id':department.id,
                                    'user_id':vol.id})}}"
                            data-toggle="tooltip"
                            title="{{vol}} ein Email schreiben.">
                            <span class="fa fa-envelope-o"></span>
                        </a>
                    {% endif %}

                    {% if userIsChief or userIsDeputy or is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-default"
                            href="{{path('department_move_volunteer',{'id':department.id,'user_id':vol.id})}}"
                            data-toggle="tooltip"
                            title="{{vol}} einem anderen Ressort zuweisen.">
                            <span class="fa fa-external-link"></span>
                            Verschieben
                        </a>
                    {% endif %}
                    {% if userIsChief or userIsDeputy or is_granted('ROLE_ADMIN') or is_granted('ROLE_OK') %}
                        <span class="fa fa-calendar"
                            data-toggle="tooltip"
                            title="{{cmt.possibleStart}}">
                        </span>
                        {% if cmt.remark %}
                            <span class="fa fa-commenting-o fa-lg"
                                data-toggle="tooltip"
                                title="{{cmt.remark}}">
                            </span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% if companions|length >0 %}
            <p><strong>
                {{companions|length}}
                nicht
                {% if companions|length ==1 %}
                    registrierter
                {% else %}
                    registrierte
                {% endif %}
                 Hölfer im Ressort:
            </strong></p>
            <table class="table">
                <tbody>
                    {% for companion in companions %}
                        <tr>
                            <td>
                                {{companion.name}}
                                {% if companion.isRegular %}
                                <span class="fa fa-repeat"
                                    data-toggle="tooltip"
                                    title="{{companion}} ist Stammhölfer"
                                    ></span>
                                {% endif %}
                            </td>
                            {% if userIsChief or userIsDeputy or is_granted('ROLE_ADMIN') or is_granted('ROLE_OK') %}

                                <td>
                                    <!-- TODO: We can not send mails to companions... yet!-->
                                    <!--
                                        <a class="btn btn-default"
                                            href="{{ path('department_redirect_mail_to',{
                                                    'id':department.id,
                                                    'user_id':companion.id})}}"
                                            data-toggle="tooltip"
                                            title="{{companion}} ein Email schreiben.">
                                            <span class="fa fa-envelope-o"></span>
                                        </a>
                                    -->
                                    {% if companion.email %}
                                        <span class="fa fa-envelope-o"
                                            data-toggle="tooltip"
                                            title="{{companion.email}}"></span>
                                    {% endif %}
                                    {% if companion.phone %}
                                        <span class="fa fa-phone-square"
                                            data-toggle="tooltip"
                                            title="{{companion.phone}}"></span>
                                    {% endif %}
                                </td>
                                <td>

                                    {% set formName = "form_comp_del_" ~ companion.id %}
                                    <form class=""
                                    action="{{path('companion_delete',{'id':companion.id})}}"
                                    name="{{formName}}"
                                    method="post">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <a onclick="formSubmit({{formName}},this);"
                                            class="btn btn-default"
                                            data-toggle="tooltip"
                                            title="Lösche den Hölfer {{companion.name}}.">
                                            <span class="fa fa-trash-o"></span>
                                        </a>
                                    </form>
                                </td>

                            {% endif %}
                            <!-- admin of chief or deputy -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
    <div class="panel-footer">

        {% if is_granted('ROLE_ADMIN') %}

            <a class="btn btn-primary" type="button"
                href="{{ path('department_edit', { 'id': department.id ,'event_id':event.id}) }}"
                data-toggle="tooltip"
                title="Bearbeite alle Eigenschaften des Ressorts {{department.name}}.">
                <span class="fa fa-pencil"></span>
                Bearbeiten</a>

        {% else %}
            {% if userIsChief %}

                <a class="btn btn-default"
                    href="{{ path('department_edit_light',{'id':department.id}) }}"
                    data-toggle="tooltip"
                    title="Bearbeite Anforderung, Stellvertreter des Ressorts
                        {{department.name}} oder sperre es."
                    >
                    <span class="fa fa-pencil"></span>
                    Bearbeiten
                </a>

            {% endif %}
        {% endif %}

        {% if userIsChief or userIsDeputy or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-default"
                href="{{ path('department_mail_volunteers', {
                'id':department.id
                }) }}"
                data-toggle="tooltip"
                title="Schreibe ein Email an alle Hölfer aus diesem Ressort."
                >
                <span class="fa fa-envelope-o"></span>
                <span class="fa fa-users"></span>
                Email
            </a>

            <a class="btn btn-default"
                href="{{ path('department_print_all', {'id': department.id}) }}"
                data-toggle="tooltip"
                title="Drucke von diesem Ressort alle Hölfer mit allen Daten."
                target="_blank"
                >
                <span class="fa fa-print"></span>
                Drucken
            </a>
        {% endif %}

        {% if is_granted('ROLE_OK') or is_granted('ROLE_ADMIN') %}
            <a
                class="btn btn-default"
                href="{{path('shift_index_of_department',{'department_id':department.id})}}"
                data-toggle="tooltip"
                title="Zeige Liste aller Schichten vom Ressort {{department.name}}"
            >
                    <span class="fa fa-clock-o"></span>
                    Schichten
            </a>
            <a
                class="btn btn-default"
                href="{{path('shift_index_of_department',{'department_id':department.id})}}"
                data-toggle="tooltip"
                title="Öffne den Schichtplaner {{department.name}}"
            >
                    <span class="fa fa-user"></span>
                    <span class="fa fa-clock-o"></span>
                    <span class="fa fa-calendar"></span>
            </a>
        {% endif %}

        <a class="btn btn-default" type="button"
            href="{{ path('event_show',{'id':event.id}) }}"
            data-toggle="tooltip"
            title="Zurück zum Event {{event.name}} gehen."
            >
            <span class="fa fa-times"></span>
            Zurück</a>
        {% if mayDelete %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen"></input>
            {{ form_end(delete_form) }}
        {% endif %}
    </div><!-- footer -->
</div><!-- panel -->



</div><!-- col -->
<div class="col-md-6">
    {{ render(controller(
        'AppBundle:Companion:new',
        { 'id': department.id }
    )) }}
</div><!-- col -->
</div><!-- row -->
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
