<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% block title %}Sönd Willkomm!{% endblock %}</title>

      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="author" content="LayoutIt!">

      <!-- use bootstrap on each page -->
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
      <!-- this is our global stylesheet that we use on each page -->
      <link href="{{ asset('css/global.css') }}" rel="stylesheet">
      <!-- add custom stylesheets for each page separately: -->
      {% block stylesheets %}{% endblock %}

      <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />



    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissable">
        			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        				<strong>{{ type }}!</strong> {{ message }}
        			</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% block body %}{% endblock %}

        <!-- use jquery on each page -->
        <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
        <!-- use bootstrap on each page -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- this is our global script that we use on each page -->
        <!-- <script src="js/scripts.js"></script> -->
        <!-- add custom scripts for each page separately: -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
