{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <!-- this renders the menu, aka navigation -->
    {{ render(controller('AppBundle:NavBar:index')) }}

    <!-- Alert aka flash message aka messagebox. -->
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                {% if type == 'link' %}
                    <div class="alert alert-info alert-dismissable fade in">
            			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <a href="{{message}}" class="alert-link">{{message}}</a>
        			</div>
                {% else %}
                    <div class="alert alert-{{ type }} alert-dismissable fade in">
        			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        				<strong>{{ type|trans({}, 'flash') }}</strong> {{ message|trans({}, 'flash') }}
        			</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- here goes the content -->
    {% block workspace %}

    {% endblock %}
</div>
{% endblock %}
