{% extends 'base.html.twig' %}

{% block title %}
    Clanx Hölfer
{% endblock %}
{% block description %}
    Startseite Clanx Hölfer Datenbank
{% endblock %}
{% block stylesheets %}
<!-- no custom styles at the moment -->
{% endblock %}

{% block body %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>
                Willkommen auf der Clanx Hölfer Datenbank!
            </h2>

             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
             <p>
                 <a class="btn btn-primary btn-large" href="{{ path('dashboard_index')}} ">Dashboard</a>
             </p>
             <p>
                 <a class="btn btn-primary btn-large" href="{{ path('fos_user_security_logout')}} ">Abmelden</a>
            </p>
            {% else %}
            <p>
                Du möchtest Hölfer werden? Registriere dich hier.
            </p>
            <p>
                <!-- find the route's name in FOSUserBundle/Resources/config/routing/registration.xml-->
                <a class="btn btn-primary btn-large"
                    href="{{ path('fos_user_registration_register')}} ">
                    Registrieren.
                </a>
                <a href="{{ path('default_help_registration') }}">
                    Wie geht das?
                </a>
            </p>
            <p>
                Du warst schon einmal Hölfer? Melde dich hier an.
            </p>
            <p>
                <!-- find the route's name in FOSUserBundle/Resources/config/routing/security.xml-->
                <a class="btn btn-primary btn-large" href="{{ path('fos_user_security_login')}} ">Anmelden</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
<!-- no custom scripts at the moment -->
{% endblock %}
