{% extends 'base_nav.html.twig' %}

{% block title %}
    Einsatz bearbeiten
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
    <div class="panel-heading">
        Mein Einsatz: <mark>„{{ department.name }}“</mark><br />
        <small>am Event <mark>„{{ event.name }}“</mark></small>
    </div>
    <div class="panel-body">
        {{ form_start(edit_form, {'name': 'form_commitment_edit'}) }}
            {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
    <div class="panel-footer">
        <a onclick="form_commitment_edit.submit();"
            class="btn btn-primary"
            data-toggle="tooltip"
            title="Änderungen übernehmen und in der Datenbank speichern.">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Speichern
        </a>
        <a class="btn btn-default"
            href="{{ path('event_show',{'id':event.id}) }}"
            data-toggle="tooltip"
            title="Nicht speichern und zurück zu {{event.name}}">
            <span class="glyphicon glyphicon-remove"></span>
            Abbrechen
        </a>
        {% if may_delete %}
            <a onclick="form_commitment_delete.submit();"
                class="btn btn-danger"
                data-toggle="tooltip"
                title="Lösche den Eintrag. Du bist dann nicht mehr als Hölfer
                eingetragen.">
                <span class="glyphicon glyphicon-trash"></span>
                Löschen
            </a>
            {{ form_start(delete_form, {'name': 'form_commitment_delete'}) }}
            {{ form_end(delete_form) }}
        {% else %}
            <a class="btn btn-default"
                disabled="disabled"
                data-toggle="tooltip"
                title="Löschen ist nicht mehr möglich. Wenn du nicht mehr Hölfer
                sein kannst, nimm Kontakt mit deinem Ressortleiter auf.">
                Löschen
            </a>
        {% endif %}
    </div>
</div> <!--panel-->
</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
