{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commitment list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commitment in commitments %}
            <tr>
                <td><a href="{{ path('commitment_show', { 'id': commitment.id }) }}">{{ commitment.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commitment_show', { 'id': commitment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commitment_edit', { 'id': commitment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commitment_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
