{% extends 'base_nav.html.twig' %}

{% block title %}
    Benutzer bearbeiten
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
    <div class="panel-heading">
        Benutzer bearbeiten
    </div>

    {{ form_start(edit_form) }}
    <div class="panel-body">
        {{ form_widget(edit_form) }}
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary"
            onclick="user.submit();">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Speichern</a>
        {% if may_demote %}
            <a class="btn btn-default"
                href="{{ path('user_demote', { 'id': user.id })}}">
                <span class="glyphicon glyphicon-remove-circle"></span>
                Adminrechte wegnehmen</a>
        {% endif %}
        {% if may_promote_admin %}
            <a class="btn btn-default"
                href="{{ path('user_promote_admin', { 'id': user.id })}}">
                <span class="glyphicon glyphicon-star"></span>
                Zum Admin machen</a>
        {% endif %}
        {% if may_promote_super_admin %}
            <a class="btn btn-default"
                href="{{ path('user_promote_superadmin', { 'id': user.id })}}">
                <span class="glyphicon glyphicon-star-empty"></span>
                Zum Superadmin machen</a>
        {% endif %}
        <a class="btn btn-default"
            href="{{ path('user_index') }}">
            <span class="glyphicon glyphicon-remove"></span>
            Zurück zur Übersicht</a>
    </div>
    {{ form_end(edit_form) }}
</div>
</div>
</div>
{% endblock %}
