{% extends 'base_nav.html.twig' %}

{% block workspace %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
    <div class="panel-heading">
        Benutzer bearbeiten
    </div>
    <div class="panel-body">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Speichern" />
    {{ form_end(edit_form) }}
    </div>
    <div class="panel-footer">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('user_demote', { 'id': user.id })}}">Adminrechte wegnehmen</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('user_promote_admin', { 'id': user.id })}}">Zum Admin machen</a>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-default" href="{{ path('user_promote_superadmin', { 'id': user.id })}}">Zum Superadmin machen</a>
        {% endif %}
        <a class="btn btn-default" href="{{ path('user_index') }}">Zurück zur Übersicht</a>
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Löschen">
        {{ form_end(delete_form) }}
    </div>
</div>
</div>
</div>
{% endblock %}
