{% extends 'base_nav.html.twig' %}

{% block workspace %}
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Benutzerübersicht</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Geb.datum</th>
                    <th>Ort</th>
                    <th>Land</th>
                    <th>Beruf / Spezialität</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.forename }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('d. M. Y') }}{% endif %}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.occupation }}</td>
                    <td>
                        <div>
                            <a class="btn btn-default btn-xs" href="{{ path('user_show', { 'id': user.id }) }}">Zeigen</a>
                        </div>
                        <div>
                            <a class="btn btn-default btn-xs" href="{{ path('user_edit', { 'id': user.id }) }}">Bearbeiten</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="panel-footer">
            <a class="btn btn-default"
                href="{{ path('user_new') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Neuer Benutzer anlegen</a>
            <a class="btn btn-default"
                href="{{ path('user_mail_all') }}">
                <span class="glyphicon glyphicon-envelope"></span>
                EMail an alle</a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn btn-danger"
                    href="{{ path('admin_upload_data') }}">
                    <span class="glyphicon glyphicon-upload"></span>
                    Upload legacy user data</a>
            {% endif %}
        </div>
    </div> <!-- Panel -->
</div>
</div>
{% endblock %}
