{% extends 'base_nav.html.twig' %}

{% block title %}
    Benutzerübersicht
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Benutzerübersicht</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>EMail</th>
                            <th>Ort</th>
                            <th>Beruf / Spezialität</th>
                            <th>Role</th>
                            <th>
                                <span class="fa fa-repeat" data-toggle="tooltip" title="Ist Stammhölfer."></span>
                                <span class="fa fa-ship" data-toggle="tooltip" title="Ist Vereinsmitglied"></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.forename }}</td>
                                <td>{{ user.surname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.city }}</td>
                                <td>{{ user.occupation }}</td>
                                <td>{{ attribute(roles,user.id) }}</td>
                                <td>
                                    {% if user.isRegular %}
                                        <span class="fa fa-repeat"></span>
                                    {% endif %}
                                    {% if user.isAssociationMember %}
                                        <span class="fa fa-ship"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        <a class="btn btn-default btn-xs" href="{{ path('user_show', { 'id': user.id }) }}" data-toggle="tooltip" title="Details von {{user}} anzeigen.">
                                            Zeigen
                                        </a>
                                    </div>
                                    <div>
                                        <a class="btn btn-default btn-xs" href="{{ path('user_edit', { 'id': user.id }) }}" data-toggle="tooltip" title="Daten von {{user}} bearbeiten.">
                                            Bearbeiten
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">

                    <a class="btn btn-default" href="{{ path('user_mail_all') }}" data-toggle="tooltip" title="Schreibe ein Email an alle registrierten Benutzer.">
                        <span class="fa fa-envelope-o"></span>
                        Email
                    </a>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-danger" href="{{ path('admin_upload_data') }}" data-toggle="tooltip" title="Benutzerdaten vom früheren System hochladen (csv Format erwartet.)">
                            <span class="fa fa-upload fa-2x"></span>
                            Upload legacy user data</a>
                        <a class="btn btn-danger"
                            href="{{ path('admin_make_test_data',{'from':0,'to':20}) }}" 
                            data-toggle="tooltip"
                            title="Ersetze persönliche Daten durch Pseudodaten für Testzwecke (nicht umkehrbar!)">
                            <span class="fa fa-bomb fa-2x"></span>
                            <span class="fa fa-user-secret fa-2x"></span>
                            Randomize data for tests</a>
                    {% endif %}
                </div>
            </div>
            <!-- Panel -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
