{% extends 'base_nav.html.twig' %}

{% block workspace %}
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Benutzerübersicht</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Geb.datum</th>
                    <th>Adresse</th>
                    <th>PLZ</th>
                    <th>Ort</th>
                    <th>Land</th>
                    <th>Telefonnummer</th>
                    <th>Beruf / Spezialität</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.forename }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('d. M. Y') }}{% endif %}</td>
                    <td>{{ user.street }}</td>
                    <td>{{ user.zip }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.occupation }}</td>
                    <td>
                        <div>
                            <a class="btn btn-default btn-xs" href="{{ path('user_show', { 'id': user.id }) }}">Zeigen</a>
                        </div>
                        <div>
                            <a class="btn btn-default btn-xs" href="{{ path('user_edit', { 'id': user.id }) }}">Bearbeiten</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="panel-footer">
            <a class="btn btn-default" href="{{ path('user_new') }}">Neuer Benutzer anlegen</a>
        </div>
    </div> <!-- Panel -->
</div>
</div>
{% endblock %}
