{% extends 'base_nav.html.twig' %}

{% block title %}
    {{view_model.title}}
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{view_model.title}}</div>
                {% form_theme view_model.bulkFormView 'form/bulk_theme.html.twig' %}
                {{ form_start(view_model.bulkFormView, {'name': 'form_bulk_actions', 'attr': {'class': 'form-inline'}}) }}
                <!-- Table -->
                <table
                    data-toggle="table"
                    data-sort-name="surname"
                    data-search="true">
                    <thead>
                        <tr>
                            <th>
                                <span class="fa fa-repeat" data-toggle="tooltip"
                                title="{{'lbl.is_regular'|trans({}, 'user')}}"></span>
                                <span class="fa fa-ship" data-toggle="tooltip"
                                title="{{'lbl.is_association_member'|trans({}, 'user')}}"></span>
                            </th>
                            <th>
                                <input id="box_7d22bc72-52cf-450b-8df7-097adbc936d4"
                                    type="checkbox" name="select_all" />
                                {{'lbl.all'|trans}}
                            </th>
                            <th data-field="surname" data-sortable="true">{{'lbl.surname'|trans({},'user') }}</th>
                            <th data-field="forename" data-sortable="true">{{'lbl.forename'|trans({},'user') }}</th>
                            <th>{{'lbl.city'|trans({}, 'user')}}</th>
                            <th>{{'lbl.occupation_speciality'|trans({}, 'user')}}</th>
                            <th>{{'lbl.role'|trans({}, 'user')}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {# "entries" is a collection of FormViews. Because our form consists of a list of forms.#}
                         {% for formView in view_model.bulkFormView.entries %}
                         {#vars.value is a BulkEntry#}
                            {% set bulkEntry = formView.vars.value %}
                            {% set userIndexEntry = view_model.users[bulkEntry.id] %}
                            {% set user = userIndexEntry.user %}
                            <tr>
                                <td>
                                    {% if user.isRegular %}
                                        <span class="fa fa-repeat"></span>
                                    {% endif %}
                                    {% if user.isAssociationMember %}
                                        <span class="fa fa-ship"></span>
                                    {% endif %}
                                </td>
                                <td>{{ form_widget(formView) }}</td>
                                <td>{{ user.surname }}</td>
                                <td>{{ user.forename }}</td>
                                <td>{{ user.city }}</td>
                                {% set truncateAfter = 30 %}
                                <td>{{ user.occupation[:truncateAfter]}}{% if user.occupation|length > truncateAfter %}&hellip;{% endif %}</td>
                                <td>{{ userIndexEntry.roleString }}</td>
                                <td>
                                    <div>
                                        <a class="btn btn-default btn-xs"
                                            href="{{ path('user_show', { 'id': user.id }) }}"
                                            data-toggle="tooltip"
                                            title="{{'tip.view_details_of'|trans({'%entity%':user})}}">
                                            <span class="fa fa-eye"></span>
                                        </a>
                                        <a class="btn btn-default btn-xs"
                                            href="{{ path('user_edit', { 'id': user.id }) }}"
                                            data-toggle="tooltip"
                                            title="{{'tip.change_details_of'|trans({'%entity%':user})}}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <input id="box_303b1e02-2616-4aca-8c61-2e37db6166a9"
                                    type="checkbox" name="select_all" />
                                {{'lbl.all'|trans}}
                            </td>
                             <td colspan="42"> <!--Magic! (basically means: colspan="all") -->
                                {{ form_widget(view_model.bulkFormView.action) }}
                                <a onclick="Clanx.AppBundle.Form.submitAndLock(form_bulk_actions,this);"
                                    class="btn btn-primary"
                                    data-toggle="tooltip"
                                    title="{{'tip.execute_bulk_action'|trans}}">
                                    <span class="fa fa-cogs"></span>
                                    {{'btn.execute_bulk_action'|trans}}
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {{ form_end(view_model.bulkFormView) }}
                <div class="panel-footer">
                    <a class="btn btn-default" href="{{ path('user_mail_all') }}" data-toggle="tooltip" title="Schreibe ein Email an alle registrierten Benutzer.">
                        <span class="fa fa-envelope-o"></span>
                        Email
                    </a>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-danger" href="{{ path('admin_upload_data') }}" data-toggle="tooltip" title="Benutzerdaten vom früheren System hochladen (csv Format erwartet.)">
                            <span class="fa fa-upload fa-2x"></span>
                            Upload legacy user data</a>
                        <a class="btn btn-danger"
                            href="{{ path('admin_make_test_data',{'from':0,'to':20}) }}"
                            data-toggle="tooltip"
                            title="Ersetze persönliche Daten durch Pseudodaten für Testzwecke (nicht umkehrbar!)">
                            <span class="fa fa-bomb fa-2x"></span>
                            <span class="fa fa-user-secret fa-2x"></span>
                            Randomize data for tests</a>
                    {% endif %}
                </div>
            </div>
            <!-- Panel -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table/bootstrap-table.min.js')}}"></script>
    <script src="{{ asset('bootstrap-table/locale/bootstrap-table-de-DE.js')}}"></script>
    <script src="{{ asset('bootstrap-table/locale/bootstrap-table-en-US.js')}}"></script>
    <script>
        $(document).ready(function() {
            Clanx.AppBundle.Bulk.initialize('input[name="select_all"]');
        });
    </script>
{% endblock %}
