{% extends 'base_nav.html.twig' %}

{% block title %}
    Neuer Benutzer
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker.js')}}"></script>
{% endblock %}

{% block workspace %}

<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
    <div class="panel-heading">Neuer Benutzer anlegen</div>

    <div class="panel-body">
        <div class="text-danger">
            Das machen wir nicht! Ein neuer Benutzer muss sich registrieren.
            Wegen dem Prozess mit EMail validierung und so weiter.
        </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-danger" type="submit" value="Create" />
    {{ form_end(form) }}
    </div>
    <div clasS="panel-footer">
        <a class="btn btn-default" href="{{ path('user_index') }}">Zurück zur Übersicht</a>
    </div>
</div>
</div>
</div>
{% endblock %}
