<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand">
            <span class="fa fa-glass fa-lg"></span>
            <span class="fa fa-cutlery fa-lg"></span>
            <span class="fa fa-music fa-lg"></span>
            &nbsp;
            Clanx Hölfer Db
        </p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- left part -->
      <ul class="nav navbar-nav">
          {# for structure see NavBarController #}
          {% for item in navbarItems if item %} {# ignore nulls #}
              {% if item.hot %}
                <li class="hot">
              {% else %}
                <li>
              {% endif %}
              {% if item.hasArguments is empty %}
                <a href="{{ path(item.routename) }}">
                    {% if not item.icon is empty %}
                      <span class="{{ item.icon }}"></span>
                    {% endif %}
                    {{item.text}}
                </a>
              {% else %}
                <a href="{{ path(item.routename,item.arguments) }}">
                    {% if not item.icon is empty %}
                      <span class="{{ item.icon }}"></span>
                    {% endif %}
                    {{item.text}}
                </a>
              {% endif %}
              </li>
          {% endfor %}
      </ul>
      <!-- right part -->
      <ul class="nav navbar-nav navbar-right">
        {{ include('security/profile_dropdown.html.twig') }}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
