{% extends "base.html.twig" %}

{% block title %}
    Login
{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

            {% if error %}
                <div class="alert alert-danger alert-dismissable">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Anmelden
					</h3>
				</div>
				<div class="panel-body">
<!---------- FORM -->
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class = "form-group">
                            <label class="control-label" for="txtUsername">Benutzername oder EMail</label>
                            <input
                                class="form-control"
                                type="text"
                                id="username"
                                name="_username"
                                value="{{ last_username }}"
                                required="required"
                                autofocus />
                        </div>
                        <div class = "form-group">
                            <label class="control-label" for="txtPassword">Passwort</label>
                            <input
                                class="form-control"
                                type="password"
                                id="password"
                                name="_password"
                                required="required" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input
                                    type="checkbox"
                                    id="remember_me"
                                    name="_remember_me"
                                    value="on" />
                                    Login speichern
                            </label>
                        </div>
                        <div class = "form-group">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                Anmelden
                            </button>
                            <a href="{{ path('fos_user_resetting_request') }}"
                                class="btn btn-danger pull-right">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Passwort vergessen</a>
                        </div>
                        <hr />
                        <div class = "form-group">
                            <label>Du bist noch kein Benutzer?</label>
                            <a href="{{ path('fos_user_registration_register') }}"
                                class="btn btn-default">
                                Jetzt registrieren!
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>
                    </form>
<!---------- END FORM -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
