{% extends 'base_nav.html.twig' %}

{% block title %} Event bearbeiten {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker.js')}}"></script>
{% endblock %}

{% block workspace %}
<div class="row">
    <div class="col-md-4">
        <h3>Event: <mark>{{ event.name }}</mark></h3>
        {{ form_start(edit_form, {'name': 'form_event_edit'}) }}
            {{form_widget(edit_form) }}
            <div class="form-group">
                <a class="btn btn-primary"
                    onclick="form_event_edit.submit();">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Speichern
                </a>
                <a class="btn btn-default"
                    href="{{ path('event_show',{'id':event.id}) }}">
                    <span class="glyphicon glyphicon-remove"></span>
                    Abbrechen
                </a>
            </div>
            {{ form_end(edit_form) }}
    </div>
    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Ressorts für diesen Event</div>
        <table class="table">
            <tbody>
            {% for department in departments %}
                <tr>
                    <td>
                        {{ department.name }}
                        {% if department.requirement %}
                            <small>({{ department.requirement }})</small>
                        {% endif %}
                        {% if department.chiefUser  %}
                            - {{ department.chiefUser.Forename }} {{ department.chiefUser.Surname }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('department_edit', { 'id': department.id,'event_id':event.id }) }}"
                            class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="panel-footer">
            <a class="btn btn-default"
                href="{{ path('department_new',{'event_id' : event.id}) }}">
                Neues Ressort anlegen
            </a>
        </div>
    </div><!-- Panel "Departments" -->
    </div>
</div>
{% endblock %}
