{% extends 'base_nav.html.twig' %}

{% block title %} Event bearbeiten {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker.js')}}"></script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block workspace %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Event: <mark>{{ event.name }}</mark>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form, {'name': 'form_event_edit'}) }}
                    {{form_widget(edit_form) }}
                {{ form_end(edit_form) }}
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary"
                    onclick="formSubmit(form_event_edit,this);"
                    data-toggle="tooltip"
                    title="{{'tip.save_and_return1'|trans({'entity':event.name,})}}">
                    <span class="fa fa-floppy-o"></span>
                    {{'btn.save'|trans}}
                </a>
                <a class="btn btn-default"
                    href="{{ path('event_show',{'id':event.id}) }}"
                    data-toggle="tooltip"
                    title="{{'tip.cancel_and_return1'|trans({'entity':event.name,})}}">
                    <span class="fa fa-times"></span>
                    {{'btn.cancel'|trans}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Ressorts für diesen Event</div>
        <table class="table">
            <tbody>
            {% for department in departments %}
                <tr>
                    <td>
                        {% if department.locked %}
                            <span class="fa fa-lock"></span>
                        {% endif %}
                        {{ department.name }}
                        {% if department.requirement %}
                            <small>({{ department.requirement }})</small>
                        {% endif %}
                        {% if department.chiefUser  %}
                            - {{ department.chiefUser }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('department_edit', { 'id': department.id }) }}"
                            class="btn btn-default"
                            data-toggle="tooltip"
                            title="Ressortdetails von '{{department.name}}' bearbeiten.">
                            <span class="fa fa-pencil"></span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="panel-footer">
            <a class="btn btn-default"
                href="{{ path('department_new',{'event_id' : event.id}) }}"
                data-toggle="tooltip"
                title="Der Buttontext sagt schon alles. Da gibt es nichts
                hinzuzufügen.">
                Neues Ressort anlegen
            </a>
        </div>
    </div><!-- Panel "Departments" -->

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'title.questions'|trans({}, 'event') }}
        </div>
        <table class="table">
            <tbody>
                {% for question in event.questions %}
                    <tr>
                        <td>{{question}}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('question_edit', { 'id': question.id }) }}"
                                class="btn btn-default"
                                data-toggle="tooltip"
                                title="{{'tip.editQuestion'|trans({'question':question.text,},'event')}}">
                                <span class="fa fa-pencil"></span>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- Panel "Question" -->
    </div>
</div>
{% endblock %}
