{% extends 'base_nav.html.twig' %}

{% block title %}
    Eventliste
{% endblock %}

{% block workspace %}
{% if is_granted('ROLE_ADMIN') %}
<div class="row">
<div class="col-md-12">
    <div><a class="btn btn-default" href="{{ path('event_new') }}">
        <span class="glyphicon glyphicon-plus"></span>
        Neuer Event erstellen</a>
    </div>
</div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
        <div class="panel-heading">Anstehende</div>
        <div class="panel-body">
            <ul>
                {% for event in upcomingEvents %}
                    <li>
                        <a href="{{ path('event_show', { 'id': event.id }) }}"
                            {% if event.sticky %}class="bg-danger"{% endif %}
                        >
                            {{ event.name }}
                        </a>
                        ({% if event.date %}{{ event.date|date('d. M. Y') }}{% endif %})
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-default" href="{{ path('event_edit', {'id':event.id}) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div><!--panel-->
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
        <div class="panel-heading">Vergangene</div>
        <div class="panel-body">
            <ul>
                {% for event in passedEvents %}
                    <li>
                        <a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a>
                        ({% if event.date %}{{ event.date|date('d. M. Y') }}{% endif %})
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div> <!--panel-->
    </div>





</div>
{% endblock %}
