<!-- this is a nested template. See "event/show.html.twig" for context -->

<div class="panel panel-default">
    <div class="panel-heading">
        {{'text.RessortsForThisEvent'|trans({},'event')}}
    </div>
    <table class="table">
        <tbody>
        {% for department in event.departments %}
            <tr>
                <td>
                    {% if department.locked %}
                        <span class="fa fa-lock"></span>
                    {% endif %}
                    {{ department.name }}
                    {% if department.requirement %}
                        <small>({{ department.requirement }})</small>
                    {% endif %}
                    {% if department.chiefUser  %}
                        - {{ department.chiefUser }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('department_edit', { 'id': department.id }) }}"
                            class="btn btn-default"
                            data-toggle="tooltip"
                            title="{{'tip.change_details_of'|trans({'entity':department.name})}}">
                            <span class="fa fa-pencil"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="panel-footer">
        <a class="btn btn-default"
            href="{{ path('department_new',{'event_id' : event.id}) }}"
            data-toggle="tooltip"
            title="Der Buttontext sagt schon alles. Da gibt es nichts
            hinzuzufügen.">
            Neues Ressort anlegen
        </a>
    </div>
</div><!-- Panel "Departments" -->
