{% extends 'base_nav.html.twig' %}

{% block title %}Neuer Event erstellen{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker.js')}}"></script>
{% endblock %}

{% block workspace %}
<div class="row">
    <div class="col-md-4">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Erstellen" />
                <a class="btn btn-default" href="{{ path('event_index') }}">Zurück zur Übersicht</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
