{% extends 'base_nav.html.twig' %}

{% block title %}
    {{ ViewModel.event.name }}
{% endblock %}

{% block workspace %}

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ViewModel.event.name}}
                </div>
                <div class="panel-body">
                    <p>
                        Der Event
                        <strong>{{ ViewModel.event.name }}</strong>
                        {% if ViewModel.event.isForAssociationMembers %}
                            (nur für Vereinsmitglieder)
                        {% endif %}
                        findet am
                        {% if ViewModel.event.date %}
                            {{ ViewModel.event.date|date('d. M. Y') }}
                        {% endif %}
                        statt.</p>
                    <p class="small">
                        {{ ViewModel.event.description|nl2br}}
                    </p>
                    <p>Bis jetzt eingetragene Hölfer:
                        {{ ViewModel.enrolledCount }}</p>

                    {% if ViewModel.myDepartmentsAsChief %}
                        <p>Du bist Ressortleiter:
                            {% for dpt in ViewModel.myDepartmentsAsChief %}
                                <br/>
                                <a
                                    href="{{ path('department_show',{'id':dpt.Id}) }}"
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    title="Zeige Details des Ressorts {{dpt.name}}.">
                                    <span class="fa fa-eye"></span>
                                    {{ dpt.name }}
                                </a>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% if ViewModel.myDepartmentsAsDeputy %}
                        <p>Du bist stellvertretender Ressortleiter:
                            {% for dpt in ViewModel.myDepartmentsAsDeputy %}
                                <br/>
                                <a
                                    href="{{ path('department_show',{'id':dpt.Id}) }}"
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    title="Zeige Details des Ressorts {{dpt.name}}">
                                    <span class="fa fa-eye"></span>
                                    {{ dpt.name }}
                                </a>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="panel-footer">

                    <a
                        class="btn btn-default"
                        href="{{ path('event_index') }}"
                        data-toggle="tooltip"
                        title="Gehe zurück zur Eventübersicht">
                        <span class="fa fa-times"></span>
                        Abbrechen
                    </a>

                    {% if ViewModel.mayMail %}
                        <a
                            class="btn btn-default"
                            href="{{ path ('event_mail_enrolled', {'id': ViewModel.event.id})}}"
                            data-toggle="tooltip"
                            title="Schreibe ein Email an alle Hölfer von diesem Event.">
                            <span class="fa fa-envelope-o"></span>
                            Email schreiben
                        </a>
                        <a
                            class="btn btn-default"
                            href="{{ path ('event_invite', {'id': ViewModel.event.id})}}"
                            data-toggle="tooltip"
                            {% if ViewModel.event.isForAssociationMembers %}
                                title="Lade alle Vereinsmitglieder ein."
                            {% else %}
                                title="Lade alle registrierten Benutzer ein."
                            {% endif %}>
                            <span class="fa fa-envelope-o"></span>
                            Einladen
                        </a>
                    {% endif %}

                    {% if ViewModel.mayEdit %}
                        <a
                            class="btn btn-default"
                            href="{{ path('event_edit', { 'id': ViewModel.event.id }) }}"
                            data-toggle="tooltip"
                            title="Details von {{ViewModel.event.name}} bearbeiten.">
                            <span class="fa fa-pencil"></span>
                            Bearbeiten
                        </a>
                    {% endif %}

                    {% if ViewModel.mayDelete %}
                        {{ form_start(ViewModel.deleteForm) }}
                        <input
                            class="btn btn-danger"
                            type="submit"
                            value="Löschen"
                            onclick="return confirm('{{ViewModel.event.name}} wirklich löschen?')"
                            data-toggle="tooltip"
                            title="Den Event {{ViewModel.event.name}} aus der Datenbank löschen."/>
                        {{ form_end(ViewModel.deleteForm) }}
                    {% endif %}
                    <!-- {{ViewModel.mayDeleteMessage}} -->

                    {% if ViewModel.mayDownload %}
                        <a
                            class="btn btn-default"
                            href="{{ path('event_download', {'id': ViewModel.event.id}) }}"
                            data-toggle="tooltip"
                            title="Download Liste aller Hölfer von diesem Event.">
                            <span class="fa fa-download"></span>
                            Download
                        </a>
                    {% endif %}

                </div>
                <!-- footer -->
            </div>
            <!-- panel -->
            {{ render(controller('AppBundle:EventStatistics:index', { 'id':
            ViewModel.event.id })) }}
            {{ render(controller('AppBundle:EventVolunteers:index', { 'id':
            ViewModel.event.id })) }}
        </div>
        <!-- col -->
        <div class="col-md-6">

            {% for commitment in ViewModel.commitments %}
                {{ render(controller('AppBundle:EventCommitment:showCommitment',
                {'id': commitment.id}))}}
            {% endfor %}

            {% if ViewModel.mayEnroll %}
                {{ render(controller('AppBundle:EventCommitment:showEnroll', { 'id':
                ViewModel.event.id })) }}
            {% endif %}

        </div>
        <!-- col -->
    </div>
    <!-- row -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
