{% extends 'base_nav.html.twig' %}

{% block title %} {{ event.name }} {% endblock %}

{% block workspace %}

<div class="row">
<div class="col-md-6">

    <div class="panel panel-primary">
    <div class="panel-heading">{{event.name}}</div>
    <div class="panel-body">
            <p> Der Event <strong>{{ event.name }}</strong> findet am
                {% if event.date %}{{ event.date|date('d. M. Y') }}{% endif %}
                statt.</p>
            <p class="small"> {{ event.description}}
            </p>
            <p>Bis jetzt eingetragene Hölfer: {{ enrolledCount }}</p>

            {% if myDepartmentsAsChief %}
            <p>Du bist Ressortleiter:
                <ul>
                    {% for dpt in myDepartmentsAsChief %}
                        <li>
                            <a href="{{ path('department_show',{'id':dpt.Id,'event_id':event.Id}) }}">
                            {{ dpt.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
            {% endif %}

            {% if myDepartmentsAsDeputy %}
            <p>Du bist stellvertretender Ressortleiter:
                <ul>
                    {% for dpt in myDepartmentsAsDeputy %}
                        <li>
                            <a href="{{ path('department_show',{'id':dpt.Id,'event_id':event.Id}) }}">
                            {{ dpt.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
            {% endif %}
    </div>
    <div class="panel-footer">

        <a class="btn btn-default" 
	    href="{{ path('event_index') }}">
            Zurück zur Übersicht
        </a>

        {% if mayMail %}
            <a class="btn btn-default" href="{{ path ('event_mail_enrolled', {'id': event.id})}}">
                <span class="glyphicon glyphicon-envelope" ></span>
                Email an alle Hölfer
            </a>
        {% endif %}

        {% if mayEdit %}
            <a class="btn btn-default"
                href="{{ path('event_edit', { 'id': event.id }) }}">
                <span class="glyphicon glyphicon-pencil"></span>
                Bearbeiten
            </a>
        {% endif %}

        {% if mayDelete %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen"
                    onclick="return confirm('{{event.name}} wirklich löschen?')"/>
            {{ form_end(delete_form) }}
        {% endif %}

    </div><!-- footer -->
    </div> <!-- panel -->
</div> <!-- col -->
<div class="col-md-6">
    {% if mayEnroll %}
        <div class="panel panel-danger">
        <div class="panel-heading">Jetzt als Hölfer eintragen</div>
        <div class="panel-body">
            {# find details of this form in EventController.createEnrollForm() #}
            {{ form_start(enroll_form) }}
                {{form_widget(enroll_form) }}
                {#submit button is being generated in the controller.#}
            {{ form_end(enroll_form) }}
        </div>
        </div> <!--panel-->
    {% endif %}
    {% if commitment %}
    <div class="panel panel-success">
    <div class="panel-heading">Du bist als Hölfer eingetragen.</div>
    <div class="panel-body">
        <p> Dein Ressort:
            <a class="btn btn-default"
                href="{{ path('department_show',{
                'id':commitment.department.id,'event_id':event.id
                }) }}">
                {{commitment.department.name}}
            </a>
        </p>
        {% if commitment.department.chiefUser %}
        <p>
            Ressortleiter:
            <a class="btn btn-default"
                href="{{ path('event_redirect_mail_to',{
                        'id':event.id,
                        'user_id':commitment.department.chiefUser.id})
                    }}">
                <span class="glyphicon glyphicon-envelope"></span>
                {{commitment.department.chiefUser.forename}}
                {{commitment.department.chiefUser.surname}}

            </a>
        </p>
        {% endif %}

        {% if commitment.department.deputyUser %}
        <p>
            Stellvertretender Leiter:
            <a class="btn btn-default"
                href="{{ path('event_redirect_mail_to',{
                        'id':event.id,
                        'user_id':commitment.department.deputyUser.id})
                    }}">
                <span class="glyphicon glyphicon-envelope"></span>
                {{commitment.department.deputyUser.forename}}
                {{commitment.department.deputyUser.surname}}

            </a>
        </p>
        {% endif %}

        {% if commitment.possibleStart %}
        <p> Deine früheste Startzeit:
            <mark>{{commitment.possibleStart|date('d.m.y h:i')}}</mark>
        </p>
        {% endif %}
        <p> Deine TShirt Grösse:
            <mark>{{commitment.shirtSize}}</mark>
        </p>
        {% if commitment.remark %}
            <p> Deine Bemerkung / Wunsch:
                <mark>{{commitment.remark}}</mark>
            </p>
        {% endif %}

    </div>
    <div class="panel-footer">
        {% if mayEditCommitment %}
        <a class="btn btn-default" >
            <span class="glyphicon glyphicon-pencil"></span>
            Bearbeiten (TODO)</a>
        {% endif %}
    </div><!-- footer -->
    </div> <!--panel-->
    {% endif %}
</div> <!-- col -->
</div> <!-- row -->
{% endblock %}
