{% extends 'base_nav.html.twig' %}

{% block title %} {{ event.name }} {% endblock %}

{% block workspace %}

<div class="row">
<div class="col-md-12">

    <div class="panel panel-primary">
    <div class="panel-heading">{{event.name}}</div>
    <div class="panel-body">
        <ul>
            <p> Der Event <strong>{{ event.name }}</strong> findet am
                {% if event.date %}{{ event.date|date('d. M. Y') }}{% endif %}
                statt.</p>
            <p>Bis jetzt eingetragene Hölfer: {{ enrolledCount }}</p>
            {% if isEnrolled %}
            <p>
                <button type="button" class="btn btn-success">Du bist als Hölfer eingetragen!</button>
            </p>
            {% endif %}
            {% if isChief %}
            <p>Du bist Ressortleiter <strong>{{ chiefOfDepartment}}</strong>.
            {% endif %}
            {% if isDeputy %}
            <p>Du bist stellvertretender Ressortleiter <strong>{{ deputyOfDepartment}}</strong>.
            {% endif %}
            {% if mayEnroll %}
            <div class="panel panel-danger">
            <div class="panel-heading">Jetzt als Hölfer eintragen</div>
            <div class="panel-body">
                {# find details of this form in EventController.createEnrollForm() #}
                {{ form_start(enroll_form) }}
                    {{form_widget(enroll_form) }}
                    {#submit button is being generated in the controller.#}
                {{ form_end(enroll_form) }}
            </div>
            </div> <!--panel-->
            {% endif %}
        </ul>
    </div>
    <div class="panel-footer">

        <a class="btn btn-default" href="{{ path('event_index') }}">Zurück zur Übersicht</a>

        {% if mayMail %}
            <a class="btn btn-default" href="{{ path ('event_mail_enrolled', {'id': event.id})}}">
                <span class="glyphicon glyphicon-envelope" ></span>
                Email an alle Hölfer
            </a>
        {% endif %}

        {% if mayEdit %}
            <a class="btn btn-default" href="{{ path('event_edit', { 'id': event.id }) }}">
                Bearbeiten
            </a>
        {% endif %}

        {% if mayDelete %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen"
                    onclick="return confirm('{{event.name}} wirklich löschen?')"/>
            {{ form_end(delete_form) }}
        {% endif %}

    </div><!-- footer -->
</div>
</div>
{% endblock %}
