{% extends 'base_nav.html.twig' %}

{% block title %} {{ event.name }} {% endblock %}

{% block navlinks %}
    <li class="active"><p class="navbar-text">{{ event.name }}</p></li>
{% endblock %}

{% block workspace %}

<div class="row">
<div class="col-md-12">

    <div class="panel panel-primary">
    <div class="panel-heading">{{event.name}}</div>
    <div class="panel-body">
        <ul>
            <p> Der Event <strong>{{ event.name }}</strong> findet am
                {% if event.date %}{{ event.date|date('d. M. Y') }}{% endif %}
                statt.</p>
            <p>Bis jetzt eingetragene Hölfer: {{ enrolledCount }}</p>
            {% if isEnrolled %}
            <p>
                <button type="button" class="btn btn-success">Du bist als Hölfer eingetragen!</button>
            </p>
            {% endif %}
        </ul>
    </div>
    <div class="panel-footer">

        {% if mayEnroll %}
                <a class="btn btn-primary"
                href="{{ path ('event_enroll', { 'id': event.id }) }}">Als Hölfer eintragen (TODO)</a>
        {% endif %}

        <a class="btn btn-default" href="{{ path('event_index') }}">Zurück zur Übersicht</a>

        {% if mayEdit %}
            <a class="btn btn-default" href="{{ path('event_edit', { 'id': event.id }) }}">Bearbeiten</a>
        {% endif %}

        {% if mayDelete %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen"
                    onclick="return confirm('{{event.name}} wirklich löschen?')"/>
            {{ form_end(delete_form) }}
        {% endif %}

    </div><!-- footer -->
</div>
</div>
{% endblock %}
