<!-- this is a nested template. See "event/show.html.twig" for context -->

<div class="panel panel-primary">
<div class="panel-heading">Hölfer pro Ressort</div>
<div class="panel-body">
    {% for dept in departments %}
        <a href="{{ path('department_show',{'id':dept.id,'event_id':event.id}) }}"
            class="btn
                {% if dept.highlighted %}
                    btn-primary
                {% else %}
                    btn-default
                {% endif %}
            "
            data-toggle="tooltip"
            title="Zeige Details des Ressorts {{dept.name}}.">
            <span class="glyphicon glyphicon-eye-open"></span>
            {% if dept.locked %}
                <span class="glyphicon glyphicon-lock"></span>
            {% endif %}
            {{ dept.name }}: {{ dept.usercount}} Hölfer
        </a>
        <ul>
            {% for user in dept.users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
<div class="panel-footer">
</div><!-- footer -->
</div> <!--panel-->
