<!-- this is a nested template. See "event/show.html.twig" for context -->

<div class="panel panel-primary">
{% if departments %}
<div class="panel-heading">Hölfer pro Ressort</div>
<div class="panel-body">
    {% for dept in departments %}
        <a href="{{ path('department_show',{'id':dept.id}) }}"
            class="btn
                {% if dept.highlighted %}
                    btn-primary
                {% else %}
                    btn-default
                {% endif %}
            "
            data-toggle="tooltip"
            title="Zeige Details des Ressorts {{dept.name}}.">
            <span class="fa fa-eye fa-lg"></span>
            {% if dept.locked %}
                <span class="fa fa-lock"></span>
            {% endif %}
            {{ dept.name }}: {{ dept.usercount}} Hölfer
        </a>
        <ul>
            {% for user in dept.users %}
                <li>
                    {# user may be entity "user" or entity "companion"! #}
                    {{ user }}
                    {% if user.isRegular %}
                        <span class="fa fa-repeat"
                            data-toggle="tooltip"
                            title="{{user}} ist Stammhölfer"></span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% else %}
<div class="panel-heading">{{ 'title.enrolledUsers'|trans({},'event') }}</div>
<div class="panel-body">
    <ul>
        {% for commitment in event.commitments %}
            <li>
                {{ commitment.user }}
            </li>
        {% endfor %}
    </ul>
</div> <!-- panel-body -->
{% endif %}
<div class="panel-footer">
</div><!-- footer -->
</div> <!--panel-->
