{% extends 'base_nav.html.twig' %}

{% block title %}
    Schichten
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
            Neue Schicht im Ressort <mark>{{department.name}}</mark>
            </h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'name': 'form_shift_new'}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="panel-footer">
            <a onclick="Clanx.App.Form.submitAndLock(form_shift_new,this);"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Die neue Schicht in der Datenbank anlegen."
            >
                <span class="fa fa-floppy-o"></span>
                Speichern
            </a>
            <a class="btn btn-default"
               href="{{ path('shift_index_of_department',{'department_id':shift.department.id}) }}"
               data-toggle="tooltip"
               title="Nicht speichern und zurück zur Liste."
            >
                <span class="fa fa-times"></span>
                Abbrechen
            </a>
        </div>
    </div> <!-- panel -->
</div> <!-- col -->
</div> <!-- row -->

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
