<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% block title %}Clanx Hölfer DB{% endblock %}</title>

      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="author" content="LayoutIt!">

      <!-- use bootstrap on each page -->
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

      <!-- use fa on each page -->
      <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">

      <!-- this is our global stylesheet that we use on each page -->
      <link rel="stylesheet" href="{{ asset('build/app.css') }}">

      <!-- add custom stylesheets for each page separately: -->
      {% block stylesheets %}{% endblock %}

      <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

<!-- TODO: Remove this as soon as commitment.edit is refactored -->
      <!-- add custom scripts for each page separately: -->
      {% block javascripts %}{% endblock %}
      <script src="{{ asset('build/app.js') }}"></script>

    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
