{% extends 'base_nav.html.twig' %}

{% block title %}
    {{'lbl.edit_user'|trans({},'user') }}
{% endblock %}

{% block workspace %}
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading">
        {{'lbl.edit_user'|trans({},'user') }}
    </div>

    <div class="panel-body">
        {{ form_start(edit_form, {'name': 'form_user_edit'}) }}
            {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
    <div class="panel-footer">
        <a data-clanx-form-name="form_user_edit"
            class="btn btn-primary clanx-submit"
            data-toggle="tooltip"
            title="{{'tip.save_changes_to_database'|trans}}">
            <span class="fa fa-floppy-o"></span>
            {{'btn.save'|trans }}</a>
        <a class="btn btn-default"
            href="{{ path('user_index') }}"
            data-toggle="tooltip"
            title="{{ 'tip.cancel_and_return0'|trans }}">
            <span class="fa fa-times"></span>
            {{ 'btn.cancel'|trans }}</a>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'title.functions'|trans }}
    </div>
    <div class="pane panel-body">
        {% if may_demote %}
            <div>
                <a class="btn btn-default"
                    href="{{ path('user_demote', { 'id': user.id })}}"
                    data-toggle="tooltip"
                    title="Diesen Benutzer wieder zu einen Benutzer ohne spezielle Rechte machen.">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-times"></span>
                    Adminrechte wegnehmen
                </a>
            </div>
        {% endif %}
        {% if may_promote_admin %}
            <div>
                <a class="btn btn-default"
                    href="{{ path('user_promote_admin', { 'id': user.id })}}"
                    data-toggle="tooltip"
                    title="Diesem Benutzer Administrationsrechte erteilen. (Administratoren können Daten manipulieren und löschen.)">
                    <span class="fa fa-star"></span>
                    Zum Admin machen
                </a>
            </div>
        {% endif %}
        {% if may_promote_super_admin %}
            <div>
                <a class="btn btn-default"
                    href="{{ path('user_promote_superadmin', { 'id': user.id })}}"
                    data-toggle="tooltip"
                    title="Diesen Benutzer zum SA machen. (Ich hoffe, du weisst was du tust.)">
                    <span class="fa fa-star-o"></span>
                    Zum Superadmin machen
                </a>
            </div>
        {% endif %}
        {% if may_promote_committee %}
            <div>
                <a class="btn btn-default"
                    href="{{ path('user_promote_committee', { 'id': user.id })}}"
                    data-toggle="tooltip"
                    title="Diesen Benutzer zum OK-Mitglied machen.">
                    <span class="fa fa-plus-square-o"></span>
                    Zum OK Mitglied machen
                </a>
            </div>
        {% endif %}
        {% if may_demote_committee %}
            <div>
                <a class="btn btn-default"
                    href="{{ path('user_demote_committee', { 'id': user.id })}}"
                    data-toggle="tooltip"
                    title="Diesen Benutzer aus dem OK entfernen.">
                    <span class="fa fa-minus-square-o"></span>
                    Aus OK entfernen
                </a>
            </div>
        {% endif %}
        {% if is_enabled %}
        <div>
            <a class="btn btn-danger"
                href="{{ path('user_deactivate', { 'id': user.id })}}"
                data-toggle="tooltip"
                title="{{'tip.deactivate'|trans({},'user') }}">
                <span class="fa fa-times-circle "></span>
                {{'lbl.deactivate'|trans({},'user') }}
            </a>
        </div>
        {% else %}
        <div>
            <a class="btn btn-info"
                href="{{ path('user_activate', { 'id': user.id })}}"
                data-toggle="tooltip"
                title="{{'tip.activate'|trans({},'user') }}">
                <span class="fa fa-check-circle"></span>
                {{'lbl.activate'|trans({},'user') }}
            </a>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %}
