{% extends 'base_nav.html.twig' %}

{% block title %}
    {{user}}
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'lbl.user'|trans({},'user') }}
                    {{user}}
                    {% if user.isRegular %}
                        <span class="fa fa-repeat fa-lg"
                            data-toggle="tooltip"
                            title="{{'lbl.is_regular'|trans({},'user') }}">
                        </span>
                    {% endif %}
                    {% if user.isAssociationMember %}
                        <span class="fa fa-ship fa-lg"
                            data-toggle="tooltip"
                            title="{{'lbl.is_association_member'|trans({},'user') }}">
                        </span>
                    {% endif %}
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{'lbl.id'|trans({},'user') }}</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.username'|trans({},'user') }}</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.forename'|trans({},'user') }}</th>
                            <td>{{ user.forename }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.surname'|trans({},'user') }}</th>
                            <td>{{ user.surname }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.email'|trans({},'user') }}</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.gender'|trans({},'user') }}</th>
                            <td>
                                {% if user.gender == "M" %}
                                    {{'lbl.male'|trans({},'user') }}
                                {% elseif user.gender == "F" %}
                                    {{'lbl.female'|trans({},'user') }}
                                {% else %}
                                    ???
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{'lbl.date_of_birth'|trans({},'user') }}</th>
                            <td>
                                {% if user.dateOfBirth %}{{ user.dateOfBirth|date('d.m.Y') }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{'lbl.address'|trans({},'user') }}</th>
                            <td>{{ user.street }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.zip'|trans({},'user') }}</th>
                            <td>{{ user.zip }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.city'|trans({},'user') }}</th>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.country'|trans({},'user') }}</th>
                            <td>{{ user.country }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.phone'|trans({},'user') }}</th>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.occupation_speciality'|trans({},'user') }}</th>
                            <td>{{ user.occupation }}</td>
                        </tr>
                        <tr>
                            <th>{{'lbl.role'|trans({},'user') }}</th>
                            <td>
                                {% for role in user.roles %}
                                    {{role}},
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}" data-toggle="tooltip" title="Bearbeite Details des Benutzers.">
                        <span class="fa fa-pencil"></span>
                        {{'btn.edit'|trans}}
                    </a>
                    <a class="btn btn-default" href="{{ path('user_index') }}" data-toggle="tooltip" title="Kehre zurück zur Übersicht.">
                        <span class="fa fa-times"></span>
                        {{'btn.cancel'|trans}}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
