{% extends 'base_nav.html.twig' %}

{% block title %}
    {{user}}
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Benutzer
                    {{user}}
                    {% if user.isRegular %}
                        <span class="fa fa-repeat fa-lg" data-toggle="tooltip" title="{{user}} ist Stammhölfer"></span>
                    {% endif %}
                    {% if user.isAssociationMember %}
                        <span class="fa fa-ship fa-lg" data-toggle="tooltip" title="{{user}} ist Vereinsmitglied"></span>
                    {% endif %}
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Vorname</th>
                            <td>{{ user.forename }}</td>
                        </tr>
                        <tr>
                            <th>Nachname</th>
                            <td>{{ user.surname }}</td>
                        </tr>
                        <tr>
                            <th>Geschlecht</th>
                            <td>
                                {% if user.gender == "M" %}
                                    Mann
                                {% elseif user.gender == "F" %}
                                    Frau
                                {% else %}
                                    ???
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Geburtsdatum</th>
                            <td>
                                {% if user.dateOfBirth %}{{ user.dateOfBirth|date('Y-m-d') }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ user.street }}</td>
                        </tr>
                        <tr>
                            <th>PLZ</th>
                            <td>{{ user.zip }}</td>
                        </tr>
                        <tr>
                            <th>Ort</th>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <th>Land</th>
                            <td>{{ user.country }}</td>
                        </tr>
                        <tr>
                            <th>Telefonnummer</th>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <th>Beruf / Spezialität</th>
                            <td>{{ user.occupation }}</td>
                        </tr>
                        <tr>
                            <th>Berechtigung</th>
                            <td>
                                {% for role in user.roles %}
                                    {{role}},
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <a class="btn btn-default" href="{{ path('user_index') }}" data-toggle="tooltip" title="Kehre zurück zur Übersicht.">
                        <span class="fa fa-times"></span>
                        Abbrechen
                    </a>
                    <a class="btn btn-default" href="{{ path('user_edit', { 'id': user.id }) }}" data-toggle="tooltip" title="Bearbeite Details des Benutzers.">
                        <span class="fa fa-pencil"></span>
                        Bearbeiten
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
